##### LOCAWEB - NAO REMOVER #####
AddHandler php7-script .php
suPHP_ConfigPath /home/amanajornadas1/
##### LOCAWEB - NAO REMOVER #####

RewriteEngine On
# Redirecionar para HTTPS WC
RewriteCond %{HTTP:X-Forwarded-Proto} !https
RewriteCond %{HTTPS} off
RewriteRule ^ https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301,NE]
